#divPrincipalNota {
    margin-top: -40px !important;
    width: 100% !important;
}

#btnFechaEdit {
    margin-top: 30px;
    margin-left: 200px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background: #24C6DC;
    /*border: 2px solid #514A9D;*/
    border: hidden !important;
}

    #btnFechaEdit:hover {
        background: black !important;
    }

#divFechaNota {
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    background: linear-gradient(to left, #1b96a7, #3f3b78);
    border-radius: 10px;
}

#divFolio {
    margin-top: -30px;
    margin-left: 1040px;
    padding-top: 5px;
    padding-left: 10px;
    height: 30px;
    width: 100px;
    color: white;
    background: linear-gradient(to left, #1b96a7, #3f3b78);
    border-radius: 10px;
}

#btnClienteAdd {
    margin-top: -3px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background: #24C6DC;
    /*border: 2px solid #514A9D;*/
    border: hidden !important;
    /*margin-left: -300px !important;*/
}

    #btnClienteAdd:hover {
        background: black !important;
    }

#btnClient {
    margin-top: -3px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background: #24C6DC;
    /*border: 2px solid #514A9D;*/
    border: hidden !important;
    margin-left: 480px !important;
}

    #btnClient:hover {
        background: black !important;
    }

#divDataCliente {
    margin-top: 10px;
    padding-top: 10px;
    color: white;
    background: linear-gradient(to left, #24C6DC, #514A9D);
    border-radius: 10px;
}

.FixPos {
    margin-top: 0px !important;
    position: fixed !important;
    z-index: 3;
}

#divTHead {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 1px;
    padding-top: 12px;
    color: white;
    background: linear-gradient(to left, #24C6DC, #514A9D);
    border-radius: 10px;
    text-align: center;
}

#divThCantidad {
    margin-left: 10px;
}

#divThPrenda {
    margin-left: 10px;
    width: 800px;
}

#divThPrecio {
    width: 100px;
    margin-left: 10px;
}

#divThImporte {
    width: 100px;
    margin-left: 10px;
}

#divTBody {
    width: 100%;
    margin-top: 10px;
    margin-left: 1px;
}

#divTbCantidad {
    width: 60px;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

#divTbPrenda {
    width: 840px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

#divTbPrecio {
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}


#divTbImporte {
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

#divTBody2 {
    width: 100%;
    margin-top: 10px;
    margin-left: 1px;
}

#divTb1 {
    width: 60px;
    margin-left: 10px;
    padding-top: 10px;
    height: 40px;
    background: transparent;
}

#divTb2Descripcion {
    width: 840px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

.divTb3Edit {
    width: 95px;
    margin-left: 10px !important;
    height: 40px;
    background: #24C6DC;
    border-radius: 10px;
    border: hidden !important;
}

    .divTb3Edit:hover {
        background: black !important;
    }

#divTb4Delete {
    width: 95px;
    margin-left: 10px;
    height: 40px;
    background: #514A9D !important;
    border-radius: 10px;
    border: hidden !important;
}

    #divTb4Delete:hover {
        background: black !important;
    }

#divTFoot {
    width: 100%;
    margin-top: 10px;
    margin-left: 1px;
}

#divTf1 {
    width: 910px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    height: 40px;
    background: transparent;
}

#divTfTotal {
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to left, #24C6DC, #514A9D);
}


#divTfImpTotal {
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to left, #e4e4e4, #b1b1b1);
}

.nticon {
    border: hidden !important;
    margin-left: 50px;
}

.notaicon {
    color: white !important;
}

.nticon:hover {
    background: black !important;
    /*transition: .6s;*/
}

#divAreaBtn {
    padding-left: 250px;
    height: 70px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#divAbAdd {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #24C6DC;
}

#divAbPay {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #24C6DC;
}

#divAbPrint {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #24C6DC;
}

#divAbSave {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #24C6DC;
}

#icoEdit {
    padding-bottom: 5px;
}

icoDelete {
    padding-bottom: 5px;
}